.radio {
  width: 49%;
  display: inline-block;
}

.radio-input {
  display: none;
}

.radio-label {
  font-size: var(--default-font-size);
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity .2s;
}

.radio-input:checked ~ .radio-label .radio-button::after {
  opacity: 1;
}

@media only screen and (max-width: 56.25em) {
  .radio {
    width: 100%;
    margin-bottom: 2rem;
  }
}